*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #f0faff;
  text-decoration: none;
  color: #596164;
}

.title
{
  font-size: 40px;
  border: 3px solid #596164;
  width: 414px;
  height: 55px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navigation
{
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 29px;
  width: 980px;
  text-align: center;
}

#navLinks
{
  margin: 10px;
  font-size: 25px;
  margin: 15px;
}

a:hover
{
  text-decoration: underline;
}

.TheBox
{
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  position: relative;
  top: -330px;

}

#title
{
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  background-color: white;
  color: #292929;
  padding-top: 35px;
}

.content
{
  font-size: 20px;
  padding: 10px 116px;
  background-color: white;
  color: black;
}

#hooksChart
{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 73px;
}

li
{
  background-color: white;
    color: black; 
}

#text
{
  background-color: white;
    color: black;
}
