*
{
  margin: 0;
  padding: 0;
  color: #596164;
  font-family: 'Alegreya Sans', sans-serif;
}

.header
{
  height: 172px;
  padding: 50px;
  text-align: center;
  background-color: #f0faff;
}

.title
{
  font-size: 40px;
  border: 3px solid #596164;
  width: 414px;
  height: 55px;
  margin: 20px auto;
  text-align: center;
  background-color: #f0faff;
}

.nav
{
  font-size: 17px;
  margin: 20px auto;
  height: 29px;
  width: 980px;
  background-color: #f0faff;
}

a
{
  font-size: 25px;
  margin: 15px;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

body
{
  background-color: #f0faff;
}

.firstBox
{
  height:378px;
  width: 980px;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid #596164;
  position: relative;
  top: -330px;
  background-color: #f0faff;

}


.box
{
  height:378px;
  width: 980px;
  margin: 0 auto;
  border-bottom: 1px solid #596164;

}

.solution
{
  margin-top: 100px;
  padding-left: 100px;
}

.bottom
{
    position: relative;
    top: -300px;

}

#firstTitle
{
  width: 750px;
  height: 68px;
  text-align: left;
  font-weight: 900;
  font-size: 56px;
}

#firstContent
{
  width: 750px;
  height: 54px;
  text-align: left;
  font-size: 20px;
}

#num
{
  width: 200px;
  height: 37px;
  font-weight: 900;
  font-size: 25px;
}

#title
{
  width: 401px;
  height: 37px;
  font-weight: 900;
  font-size: 30px;
}

#start
{
    width: 401px;
    height: 37px;
    font-weight: 900;
    font-size: 30px;
    margin: 0px;
}


#link
{

    width: 401px;
    height: 37px;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
}

.content
{
  width: 401px;
  height: 196px;
  font-size: 16px;
}

.rightFloat
{
  float: right;
  padding: 50px;
}

.leftFloat
{
  float: left;
  padding: 50px;
}

#leftImage
{
  padding: 47px;
  float: left;
}

#rightImage
{
  padding: 47px;
  float: right;
}
