*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #f0faff;
  text-decoration: none;
  color: #596164;
}

.title
{
  font-size: 40px;
  border: 3px solid #596164;
  width: 414px;
  height: 55px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navigation
{
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 29px;
  width: 980px;
  text-align: center;
}

#navLinks
{
  margin: 10px;
  font-size: 25px;
  margin: 15px;
}

a:hover
{
  text-decoration: underline;
}

.firstBox
{
  height:378px;
  width: 100%;
  border-bottom: 1px solid #596164;
  padding-top: 70px;
  background-color: white;
}

.box
{
  height:378px;
  width: 980px;
  margin: 0 auto;
  border-bottom: 1px solid #596164;
  background-color: white;
}

.TheBox
{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -300px;
}

#firstTitle
{
  width: 750px;
  height: 68px;
  text-align: left;
  font-weight: bold;
  font-size: 56px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

#firstContent
{
  width: 750px;
  height: 54px;
  text-align: left;
  line-height: 1.5;
  font-size: 20px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
#num
{
  width: 200px;
  height: 37px;
  font-weight: 900;
  font-size: 25px;
  background-color: white;
}

#title
{
  width: 401px;
  height: 37px;
  font-weight: 900;
  font-size: 30px;
  background-color: white;
}


#link
{
  width: 105px;
  height: 37px;
  font-weight: bold;
  font-size: 30px;
  background-color: white;
}

#contentBox
{
  background-color: white;
}

.content
{
  width: 401px;
  height: 196px;
  font-size: 16px;
  background-color: white;
}

.rightFloat
{
  float: right;
  padding: 50px;
  background-color: white;
}

.leftFloat
{
  float: left;
  padding: 50px;
  background-color: white;
}

#leftImage
{
  padding: 47px;
  float: left;
  background-color: white;
}

#rightImage
{
  padding: 47px;
  float: right;
  background-color: white;
}

li
{
  background-color: white;
}

#text
{
  background-color: white;
}
