*
{
  margin: 0;
  padding: 0;
}


.header
{
  background-color: #f0faff;
  padding: 50px;
  height: 172px;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
}


.title
{
  font-size: 40px;
  border: 3px solid #596164;
  color: #596164;
  width: 414px;
  height: 55px;
  margin: 20px auto;
}

.navigation
{
  font-size: 17px;
  margin: 20px auto;
  height: 29px;
  width: 980px;
}

a
{
  font-size: 25px;
  color: #596164;
  margin: 15px;
  text-decoration: none;
}

body
{
  background-color: #f0faff;
}

#story
{
  font-size: 26px;
  color: #596164;
  height: 315px;
  width: 860px;
  margin: 20px auto;
}
