*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #f0faff;
  text-decoration: none;
  color: #596164;
}

.title
{
  font-size: 40px;
  border: 3px solid #596164;
  width: 414px;
  height: 55px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navigation
{
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 29px;
  width: 980px;
  text-align: center;
}

#navLinks
{
  margin: 10px;
  font-size: 25px;
  margin: 15px;
}

#collage
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

image
{
  border: 20px solid red;
}

a:hover
{
  text-decoration: underline;
}

#story
{
  font-size: 26px;
  color: #596164;
  height: 315px;
  width: 860px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 25px; 
}
