*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #f0faff;
  text-decoration: none;
  color: #596164;
}

.title
{
  font-size: 40px;
  border: 3px solid #596164;
  width: 414px;
  height: 55px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navigation
{
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 29px;
  width: 980px;
  text-align: center;
}

#navLinks
{
  margin: 10px;
  font-size: 25px;
  margin: 15px;
}

a:hover
{
  text-decoration: underline;
}


.TheBox
{
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 111px;
  padding-right: 111px;
  position: relative;
  top: -330px;

}

#title
{
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  color: #333333;
  padding-top: 45px;
  padding-bottom: 45px;
}

.leftBox
{
  width: 361px;
  height: 555px;
  background-color: white;
  float: left;
  margin-bottom: 24px;
  padding: 21px;
  color: #333333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightBox
{
  width: 361px;
  height: 555px;
  background-color: white;
  float: left;
  margin-left: 24px;
  margin-bottom: 24px;
  padding: 21px;
  color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.row::after
{
  content: "";
  clear: both;
  display: table;
}
#boxTitle
{
  font-size: 35px;
  border-bottom: 3px solid #f2bf5e;
  background-color: white;
  font-weight: bold;
  color: #333333;
}

#text
{
  background-color: white;
  margin-top: 5px;
  color: #333333;
}

#image
{
  margin-top: 20px;
}
